
/*     Variables     */
$font-base: 10px;
$color-base: #fff;

/*      Mixin     */
@mixin default {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  background-color: #f8f8f8;
  line-height: 1.6em;
}
@mixin heading {
  text-align: center;
  font-weight: normal;
  padding-bottom: 40px;
  position: relative;
  &::before {
    content: "";
    position:absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  span {
    color: crimson;
  }
}

/*     Content     */
body {
  @include default();
  display: grid;
  justify-content: center;
  height: 100vh;
}

/*     Protfolio     */
.protfolio {
  margin: 15px;
  h1 {
    @include heading();
    font-size: $font-base * 5;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    div {
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(#000, 0.15);
      overflow: hidden;
      position: relative;
      a {
        img {
          width: 100%;
          display: block;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.2);
        font-size: 40px;
        color: $color-base;
        opacity: 0;
        transition: 0.3s;
      }
      &:hover i {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      span {
        position: absolute;
        width: 100%;
        bottom: -40px;
        text-align: center;
        padding: 10px 0;
        color: $color-base;
        transition: 0.3s;
      }
      &:hover span { 
        opacity: 1;
        bottom: 0;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( #000000, 0.4); 
        opacity: 0;   
        transition: 0.3s;
      }
      &:hover::before {
        opacity: 1;
      }
    }
    .focus {
      grid-area: span 2/ span 2;
    }
  }
}