* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 500px;
  margin: 20px auto;
}
h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 60px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}
button {
  padding: 10px 20px;
}
#result {
  border: 1px solid #000;
  margin-top: 40px;
  padding: 10px;
  background-color: #eee;
}