/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}


/*===== Container =====*/
.container {
  width: 100vw;
  height: 100vh;
  display: flex;

}

/*===== Left section =====*/

/* Aside */

.left_scetion {

  width: 30vw;
  /* height: inherit; */
  position: relative;
  border-right: 3px solid #999;
  background-color: rgba(250, 250, 250, 0.9);
}
.left_scetion .info {
  width: 25vw;
  height: inherit;
  position: fixed;

}
.left_scetion .info img {
  width: 200px;
  height: 200px;
  margin: 7vw 0 0 2vw;
  margin-bottom: 2vh;

  border: 2px solid #000;
  border-radius: 50%;
}
.left_scetion .info .intro {
  margin-left: 3vw;
  font-size: 1em;
}

/* Menu bar */

.left_scetion .menu_bar {
  position: fixed;
  top: 20%;
  left: 27%;
}
.left_scetion .menu_bar ul {
  height: 20vh;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #333;

}
.left_scetion .menu_bar ul i {
  cursor: pointer;
}
.left_scetion .menu_bar ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color:bisque;
}


/*===== Right section =====*/
.on {
  display: none;
}
.Rigth_page {
  width: 70vw;
  /* height: inherit; */
  position: relative;

  background-color: rgba(250, 250, 250, 0.9);
}

/* Profile Page */
.Rigth_page .wrap {
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid #000;
  border-radius: 20px;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);

  background-color: #fff;
}

.Rigth_page .wrap h1 {
  text-align: center;
  font-size: 3em;
  color: #999;
  margin: 5vh auto;
}
.Rigth_page .wrap .profile_wrap ul {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0px 5px 3px -4px rgba(128, 128, 128, 0.4);
  

}
.Rigth_page .wrap .profile_wrap ul li {
  position: relative;

}
.Rigth_page .wrap .profile_wrap ul i {
  position: absolute;
  left: -50px;
  font-size: 2em;
  display: inline-block;
}
.Rigth_page .wrap .profile_wrap ul span {
  font-weight: bold;
}
.Rigth_page .wrap .learn {
  text-align: center;
  width: 100%;

}
.Rigth_page .wrap .learn h2 {
  margin-bottom: 5vh;
}
.Rigth_page .wrap .learn p {
  margin-bottom: 10px;
}


/* Project Page */
.Rigth_page .wrap .project_wrap {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
  
  /* border: 2px solid red; */

}
.Rigth_page .wrap .project_wrap .project_group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.wrap .project_wrap .project_group .project_card {
  width: 350px;
  height: 350px;

  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 0 2px 2px gray;

  transition: 0.3s;
  background-color: rgba(250, 250, 250, 0.9);

  position: relative;
}

.wrap .project_wrap .project_group .show {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  
  font-weight: bold;
  padding: 5px;
  border: 2px solid #000;
  display: none;
}
.wrap .project_wrap .project_group  .project_card:hover {
  transform: scale(1.1);

}
.wrap .project_wrap .project_group  .project_card:hover .show {
  cursor: pointer;
  display: block;
}
.wrap .project_wrap .project_group .project_card .project_photo {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}
.wrap .project_wrap .project_group .project_card img {
  margin: 10px 0;
  width: 100px;
}
.wrap .project_wrap .project_group .project_card .project_info {
  padding-top: 10px;
  text-align: center;
}
.wrap .project_wrap .project_group .project_card .project_info p {
  margin-top: 20px;
}