body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
input, button {
  padding: 10px;
}
table, tr, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
th {
  width: 100px;
}
td {
  text-align: center;
  padding: 10px;
}