/* Common & Mobile CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap {
  border: 1px solid #ccc;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: 0 auto;
}

/* Information CSS */
.info_section {
  order: 1;
  width: 100%;
  background-color: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info_list {
  display: flex;
}
.info_list li {
  width: 25%;
  text-align: center;
}
.info_list li a {
  display: block;
  padding: 0.938rem 0;
}

/* Header CSS */
.header {
  order: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  position: relative;
  width: 100%;
}
.logo {
  order: 1;
  width: 100%;
  padding: 1.875rem 0;
  font-size: 1.188rem;
  line-height: 1.313rem;
  text-align: center;
  background-color: #2ecc71;
  text-shadow: 0 1px 1px #25ab5e;
  text-transform: uppercase;
}
.nav {
  order: 2;
  width: 100%;
  display: none;
}
.nav.on {
  display: block;
}
.gnb li {
  display: flex;
  background-color: #2c3e50;
}
.gnb li a {
  width: 80%;
  padding: 1.250rem 0;
  font-size: 0.938rem;
  text-indent: 1.250rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.gnb li span {
  width: 20%;
  text-indent: -9999px;
  background: url('/img/project_1/s_images/sub_menu_toggle_btn.png') center center no-repeat;
  cursor: pointer;
}
.menu_toggle_btn {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  text-indent: -9999px;
  background: url('/img/project_1/s_images/menu_toggle_btn.png') no-repeat;
  cursor: pointer;
}

/* Slider CSS */
.slider_section {
  order: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18.750rem;
  background: url('/img/project_1/p_images/slider_01.jpg') center center no-repeat;
}
.slider_section span {
  width: 2.125rem;
  height: 2.438rem;
  text-indent: -9999px;
  background: url('/img/project_1/s_images/slider_arrow.png') no-repeat;
  cursor: pointer;
}
span.prev_btn {
  margin-left: -0.625rem;
  background-position: 0 0;
}
span.next_btn {
  margin-right: -0.625rem;
  background-position: -34px 0;
}

/* Gallery CSS */
.gallery_section {
  order: 4;
  padding: 50px 12.5%;
  padding: 3.125rem 12.5%;
  text-align: center;
  background-color: #e65d5d;
  text-shadow: 0 1px 1px #c43434;
}
.gallery_section img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px #c43434;
}
.gallery_list li:nth-child(2) {
  margin-top: 30px;
  margin-top: 1.875rem;
}
.gallery_list li figcaption {
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 1.188rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Rankup CSS */
.rankup_section {
  order: 5;
  padding: 2.5rem 12.5%;
  background-color: #219af7;
  text-shadow: 0 1px 1px #1974ba;
}
.rankup_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rankup_list li {
  width: 47.9%;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
.rankup_list li:first-child,
.rankup_list li:nth-child(2) {
  margin-top: 15px;
}
.rankup_list li a {
  display: block;
  padding: 0.625rem;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}
.rankup_section > h2 {
  text-align: center;
  color: #fff;
}

/* Latest Post CSS */
.latest_post_section {
  order: 6;
  background-color: #ffc40f;
  text-shadow: 0 1px 1px #b98e0b;
  padding: 2.5rem 4.5rem;
}
.title {
  margin: 1.875rem;
  font-size: 1.188rem;
  text-align: center;
  color: #fff;
}
.latest_post_list li {
  margin-top: 0.938rem;
  padding-left: 0.875rem;
  font-weight: bold;
  background: url('/img/project_1/s_images/post_circle_icon.png') left center no-repeat;
  text-align: ;
}
.latest_post_list li a {
  color: #fff;
}

/* Popular Post CSS */
.popular_post_section {
  order: 7;
  background-color: #a660c2;
  text-shadow: 0 1px 1px #714185;
  padding: 2.5rem 4.5rem;
}

/* Banner CSS */
.banner_section {
  order: 8;
}
.banner_box_01 {
  background-color: #e6567a;
}
.banner_box_01 a {
  display: block;
  padding: 30px 0;
  padding: 1.875rem 0;
  text-align: center;
}
.banner_box_02 {
  background-color: #c44968;
}
.banner_list {
  display: flex;
  justify-content: space-between;
  padding: 30px 12.5%;
  padding: 1.875rem 12.5%;
}

/* Social CSS */
.social_section {
  order: 9;
  padding: 24px 12.5%;
  padding: 1.5rem 12.5%;
  background-color: #fff;
}
.social_list {
  display: flex;
  justify-content: space-between;
}

/* Footer CSS */
.footer {
  order: 10;
  width: 100%;
  background-color: #474747;
}
.footer p {
  color: #fff;
  padding: 20px;
  padding: 1.250rem;
  font-size: 0.813rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 1px #191919;
}

/* .header h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 142px;
  background-color: #ff6b57;
} */
/* .header nav {
  width: 87.5%;
  background-color: #ff6b57;
  height: 80px;
} */
/* .slider_section {
  order: 2;
  width: 50%;
  background-color: #3c90be;
} */
/* .gallery_section {
  order: 3;
  width: 27%;
  height: 440px;
  background-color: #f8de73;
}
.rankup_section {
  order: 4;
  width: 22.9%;
  background-color: #00d2a5;
}
.latest_post_section {
  order: 5;
  width: 30%;
  background-color: #9cabe4;
}
.popular_post_section {
  order: 6;
  width: 30%;
  background-color: #d76817;
}
.banner_section {
  order: 7;
  display: flex;
  flex-flow: column nowrap;
  width: 22.9%;
}
.banner_section div {
  flex: 1 1;
}
.banner_section div.banner_box_01 {
  background-color: #0175bb;
}
.banner_section div.banner_box_02 {
  background-color: #1261c9;
}
.social_section {
  order: 8;
  background-color: #fe6eda;
  width: 17%;
  height: 270px;
}
.footer {
  order: 9;
  width: 100%;
  height: 94px;
  background-color: #474747;
} */

/* Tablet CSS */
@media all and (min-width:768px) {
  /* Common CSS */
  #wrap {
    flex-flow: row wrap;
  }

  /* Header CSS */
  .header {
    flex-direction: row;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 15.625%;
    /* 120px / 768px */
    padding: 0;
    z-index: 10;
  }
  .logo a {
    display: block;
    padding: 50px 0;
    padding: 3.125rem 0;
  }
  .nav {
    position: relative;
    height: 80px;
    height: 5.1rem;
    background-color: #2ecc71;
  }
  .gnb {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40.1%;
    /* 308px / 768px */
    z-index: 20;
  }
  .menu_toggle_btn {
    top: 50%;
    right: 30px;
    right: 1.875rem;
    z-index: 20;
    margin-top: -15px;
    margin-top: -0.938rem;
  }

  /* Slider CSS */
  .slider_section {
    width: 59.89%;
    /* 460px / 768px */
    height: 560px;
  }
  .slider_section span {
    position: relative;
    z-index: 10;
  }

  /* Latest & Popular Post CSS */
  .latest_post_section,
  .popular_post_section {
    width: 41.6%;
    /* 320px / 768px */
    padding-left: 5.208%;
    padding-right: 5.208%;
    /* 40px / 768px */
  }
  .latest_post_section {
    order: 5;
  }
  .popular_post_section {
    order: 6;
  }

  /* Gallery CSS */
  .gallery_section {
    order: 8;
    width: 71.354%;
    /* 548px */
    padding-left: 5.208%;
    padding-right: 5.208%;
    /* 40px */
  }
  .gallery_list {
    display: flex;
  }
  .gallery_list li {
    width: 47.008%;
    /* 220px */
  }
  .gallery_list li:nth-child(2) {
    margin-top: 0;
    margin-left: 5.98%;
    /* 28px */
  }

  /* Rankup CSS */
  .rankup_section {
    order: 4;
    width: 40.10%;
    /* 308px */
    padding-left: 5.208%;
    padding-right: 5.208%;
    /* 40px */
  }
  /* Banner CSS */
  .banner_section {
    order: 9;
    display: flex;
    flex-direction: column;
    width: 28.645%;
    /* 220px */
  }
  .banner_section div {
    flex: 1 1;
  }
  .banner_box_01 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_box_01 a {
    display: inline;
    padding: 0;
  }
  .banner_box_02 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_list {
    padding: 0;
    justify-content: flex-start;
  }
  .banner_list li:nth-child(2) {
    margin: 0 14px;
    margin: 0 0.875rem;
  }

  /* Social CSS */
  .social_section {
    order: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.66%;
    /* 128px */
    padding: 0;
  }
  .social_list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .social_list li:nth-child(2) {
    margin: 24px 0;
    margin: 1.5rem 0;
  }

  /* Footer CSS */
  .footer p {
    padding: 40px 0;
    padding: 2.5rem 0;
  }
}

/* PC CSS */
@media all and (min-width:960px) {
  #wrap {
    position: relative;
    width: 90%;
  }
  .info_section {
    order: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 30;
    width: auto;
    border-bottom: 0;
  }
  .info_list li {
    width: auto;
    margin-left: 15px;
  }
  .info_list li a {
    padding: 0;
  }

  .header {
    order: 1;
    justify-content: flex-end;
    position: static;
  }
  .logo {
    width: 12.5%;
  }
  .logo a {
    color: #fff;
  }
  .nav {
    display: flex;
    align-items: center;
    position: static;
    width: 87.5%;
  }
  .gnb {
    display: flex !important;
    flex-direction: row;
    position: static;
    gap: 10%;
    width: 100%;
    text-shadow: 0 1px 1px 1px #25ab5e;
  }
  .gnb li {
    display: flex;
    margin-left: 5.2083;
    background: none;
  }
  .gnb li a {
    width: 200%;
    padding: 10px;
    text-indent: 0;
  }
  .gnb li span {
    display: none;
  }
  .menu_toggle_btn {
    display: none;
  }
  .slider_section {
    order: 2;
    width: 50%;
    height: auto;
  }
  .latest_post_section,
  .popular_post_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: auto 0;
  }
  .gallery_section {
    order: 3;
    width: 27%;
  }
  .gallery_list {
    display: block;
  }
  .gallery_list li {
    width: auto;
  }
  .gallery_list li:nth-child(2) {
    margin-top: 30px;
    margin-left: 0;
  }

  .rankup_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22.916%;
    padding: 10px;
  }
  .rankup_list {
    display: block;
    width: 80%;
  }
  .rankup_list li {
    width: auto;
    text-align: left;
  }
  .banner_section{
    order:7;
    width:22.91666666666667%;
    /* 220px รท 960px */
    }
}