/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}


.container {
  width: 100%;
}

/* ##### Main header ##### */
.main-header {
  width: 100%;
  height: 100px;
  position: relative;

  background-color: #fff;
  position: fixed;
  z-index: 100;
}
.main-navigation {
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.main-navigation a {
  color: #999;
  font-weight: 700;
  transition: 0.6s;
}
.main-navigation li a::after {
  content: '';
  width: 100%;
  height: 2px;
  
  display: none;
}
.main-navigation li a:hover {
  color: rgb(174, 0, 255);
}
.main-navigation li a:hover::after {
  background-color: rgb(174, 0, 255);
  display: block;
}
.main-navigation .left-navigation ul {
  position: relative;
  left: 3vw;
  display: flex;  
  gap: 2vw;
}
.main-navigation .right-navigation {
  display: flex; 
  gap: 2vw;
}
.main-navigation .right-navigation ul {
  position: relative;
  right: 3vw;
  display: flex;
  gap: 2vw;
}

.main-navigation .main-logo {
  width: 100px;
}
.right-navigation .sns a {
  margin-right: 10px;
}

/* ##### Content ##### */

/* Main Content */
.content {
  position: absolute;
  top: 110px;
  width: 100%;
}
.content .main-content {
  width: 100%;
  height: 600px;
  position: relative;

  background-color: #eee;
}
.main-content .profile {
  width: 30%;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.profile h3 {
  margin-top: 20px;
}
.main-content .content-slider {
  width: 70%;
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0;
}
.content-slider img {
  width: 100%;
  height: 600px;
}

/* Content link */
.contente-link {
  width: 100%;
  height: 600px;
  position: relative;
}
.content-link .link-logo {
  text-align: center;
  font-size: 70px;
  margin-top: 50px;  
}
.content-link .link-logo i {
  color: #000;
}
.content-link ul {
  width: 100%;
  text-align: center;
  margin-top: 20px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-link li {
  font-size: 40px;
  margin: 50px 0;
  transition: 1s;
}
.content-link .link li:hover {
  transform: scale(1.3);
}
.content-link li a {
  color: #000;
  font-weight: 600;

  transition: 1s;
}
.content-link li:hover a {
  color: rgb(7, 245, 58);
}
.content-link li .sub-txt {
  font-size: 15px;
  opacity: 0;
  transition: 1s;
}
.content-link li:hover .sub-txt {
  opacity: 1;
}
.content-link li .sub-image img:first-child {
  width: 20%;
  height: 300px;
  position: absolute;
  top: 0;
  right: 20vw;

  opacity: 0;
}
.content-link li .sub-image img:last-child {
  width: 20%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 20vw;

  opacity: 0;
}

.content-link li:hover .sub-image img {
  transition: 1s;
  opacity: 1;
}
