/* 초기값 (페이지 만들기 전에 기본적으로 세팅할것들)*/
* {
  margin: 0; padding: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}
