.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  display: flex;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}
.search-box {
  border-bottom: 1px solid #000;
  position: absolute;
  right: 20px;
  padding: 5px;
}
.search-box input {
  border: none;
  margin-left: 5px;
}
.search-box input:focus {
    outline: none;
}