@import url(../basiccode/reset.css);

body {
  background-color: rgb(204, 245, 232);
}

#container {
  width: 300px;
  height: 500px;
  background: #fff;

  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

  /* Nav */
header .box {
  display: flex;
  justify-content: space-between;
}
.box i {
  color: #000
}

/* Img */
.profile_img img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 16px rgb(94, 228, 238);
}
.profile_img h2 {
  font-size: 15px;
  font-weight: normal;
  color: #ddd;

  margin-bottom: 30px;
}
.profile_img a {
  display: block;
  margin: 0 auto;
  
  width: 170px;
  height: 40px;

  color: #fff;
  background-color: aqua;

  border-radius: 30px;
  line-height: 40px;
  box-shadow: 5px 5px 10px rgb(94, 228, 238); 
}

/* info */

/* Footer */
footer .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  background-color: #ddd;
}
footer .link1 {
  background-color: aqua;
}
footer .link2 {
  background-color: rgb(177, 204, 57);
}
footer .link3 {
  background-color: rgb(4, 104, 117);
}
footer .link4 {
  background-color: rgb(192, 19, 235);
}