#all {
  width: 900px;
  margin: 0 auto;
}

#all > fieldset > .text {
  text-align: center;
}



div.name{
  margin-left: 100px;
}

div.name> ul > li{
  list-style: none;
}

div.check {
  margin-left: 100px;  
}

div.check> ul > li{
  list-style: none;
}


div.memo {
  margin-left: 100px
}

div.memo > .button {
  text-align: center;
}